@import "tailwindcss";

@theme static {
  --navbar-height: 80px;
  --topbar-height: 36px;
  --footer-height: 240px;

  --max-page-width: 90rem;
  --radius-5xl: 3rem;

  --color-background: #f0f0f0;
  --color-foreground: #171717;

  --color-white: #fefffe;
  --color-orange: #f2561d;

  --color-fruits: #ffe5ec;
  --color-vegetables: #e2f7e1;
  --color-cleaning: #e0f2fe;
  --color-pantry: #fff5e1;

  --color-primary: #6a9501;
  --color-accent: #82bf26;
  --color-secondary: #212934;
  --color-dark: #212934;

  --animate-lift: lift 0.2s ease-out forwards;
  --animate-lift-soft: lift-soft 0.2s ease-out forwards;

  @keyframes lift {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-8px);
    }
  }

  @keyframes lift-soft {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-3px);
    }
  }
}

@layer base {
  :root {
    /* #6A9501, #212934, #68bb7d, #333d4a, #82bf26 */
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    height: 15px;
    width: 15px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    width: 100dvw;
    overflow-x: hidden;
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body > section {
    max-width: var(--max-page-width);
  }

  body > main {
    min-height: calc(
      100dvh - var(--navbar-height) - var(--footer-height) -
        var(--topbar-height)
    );
  }

  button {
    cursor: pointer;
  }
}

@layer utilities {
  .font-fredoka {
    font-family: var(--font-fredoka);
  }

  .tooltip {
    @apply absolute -top-8 left-1/2 -translate-x-1/2 text-xs px-2 py-1 rounded opacity-0 group-hover/tooltip:opacity-100 transition-opacity duration-200 pointer-events-none whitespace-nowrap;
    color: var(--color-white);
    position: absolute;
  }

  .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    z-index: 1000;
  }

  .tooltip-secondary {
    background-color: var(--color-secondary);
  }
  .tooltip-secondary::after {
    border-color: var(--color-secondary) transparent transparent transparent;
  }

  .tooltip-accent {
    background-color: var(--color-accent);
  }
  .tooltip-accent::after {
    border-color: var(--color-accent) transparent transparent transparent;
  }

  .navbar-item {
    @apply rounded-3xl font-bold py-2 px-5 flex gap-2;
  }

  .navbar-item-active {
    @apply bg-white text-accent;
  }

  .navbar-item-inactive {
    @apply hover:bg-white hover:text-accent transition;
  }

  .home-navbar-item-active {
    @apply bg-accent text-white;
  }

  .home-navbar-item-inactive {
    @apply hover:bg-accent hover:text-white transition;
  }
}
