@import "tailwindcss";

@theme static {
  --max-page-width: 90rem;
  --navbar-height: 80px;
  --radius-5xl: 3rem;

  --color-background: #f0f0f0;
  --color-foreground: #171717;

  --color-white: #fefffe;
  --color-orange: #f2561d;

  --color-fruits: #ffe5ec;
  --color-vegetables: #e2f7e1;
  --color-cleaning: #e0f2fe;
  --color-pantry: #fff5e1;

  --color-primary: #6a9501;
  --color-accent: #82bf26;
  --color-secondary: #212934;
  --color-dark: #212934;

  --animate-lift: lift 0.2s ease-out forwards;
  --animate-lift-soft: lift-soft 0.2s ease-out forwards;

  @keyframes lift {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-8px);
    }
  }

  @keyframes lift-soft {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-3px);
    }
  }
}

@layer base {
  :root {
    /* #6A9501, #212934, #68bb7d, #333d4a, #82bf26 */
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    height: 15px;
    width: 15px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    width: 100dvw;
    overflow-x: hidden;
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body > section {
    max-width: var(--max-page-width);
  }

  button {
    cursor: pointer;
  }

  .font-fredoka {
    font-family: var(--font-fredoka);
  }
}
